<html>
<head>
        <meta charset="utf-8"/>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        {% include 'header.html' %}
        <link href='../css/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h2>Liste des alumnis</h2>

        <br> <br>
        <div class="container">

<div class="row">
filtres
</div>
        <table class="table table-hover" id="example" align="center">
        <thead>
            <tr>
                <th>Login</th>
                <th>Noms et Prénoms</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Promotion PrépaVogt</th>
                <th>Niveau d'étude</th>
                <th>Situation actuelle</th>
                <th>Intitulé du poste</th>
                <th>Entreprise (si en activité)</th>
                <th>Dernière école fréquentée</th>
                <th>Dernier diplôme</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% if users %}
            {% for row in users %}
            <tr>
                <td>{{row.login}}</td>
                <td>{{row.noms}} {{row.prenoms}}</td>
                <td>{{row.telephone}}</td>
                <td>{{row.email}}</td>
                <td>{{row.promoPrepa}}</td>
                <td>{{row.niveauEtude}}</td>
                <td>{{row.situationActu}}</td>
                <td>{{row.intitulePoste}}</td>
                <td>{{row.entreprise}}</td>
                <td>{{row.derniereEcole}}</td>
                <td>{{row.intituleDernierDiplome}}</td>
                <td><a href="../users/{{row.id}}" class="btn btn-info">Modifier</a></td>
                <td>
                        <form action="../users" method="POST">
                        <input class="btn btn-danger" type = "submit" value ="Supprimer">
                        <input type="hidden" id="delete" name="delete" value="1">
                        <input type="hidden" id="user_id" name="user_id" value="{{row.id}}">
                    </form>
                </td>
            </tr>

            {% endfor %}
            {% else %}
            <p>No records found</p>
            {% endif %}
        </tbody>
    </table>





        </div>

{% include 'footer.html' %}

    <script type="text/javascript">
    $(document).ready(function() {
        $('#example').dataTable( {
            "language": {
                "url": "{{ base_url() }}/js/french.lang"
            }
        } );
    } );
    </script>

    </body>
</html>
